// Custom styles.
.pace .pace-progress {
    background: #222;
}

.post-body {
  table {
    line-height: 1.3;
  }
  th {
    border-bottom-width: 1px;
  } 
}
.post-body p a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}